Client/myserv.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.nure.ua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.nure.ua/" name="MyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.nure.ua/" schemaLocation="myserv.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getIntentoryList">
<part name="parameters" element="tns:getIntentoryList"></part>
</message>
<message name="getIntentoryListResponse">
<part name="parameters" element="tns:getIntentoryListResponse"></part>
</message>
<message name="parseXML">
<part name="parameters" element="tns:parseXML"></part>
</message>
<message name="parseXMLResponse">
<part name="parameters" element="tns:parseXMLResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="getInventoryById">
<part name="parameters" element="tns:getInventoryById"></part>
</message>
<message name="getInventoryByIdResponse">
<part name="parameters" element="tns:getInventoryByIdResponse"></part>
</message>
<message name="doubleEcho">
<part name="parameters" element="tns:doubleEcho"></part>
</message>
<message name="doubleEchoResponse">
<part name="parameters" element="tns:doubleEchoResponse"></part>
</message>
<message name="getPriceInHourById">
<part name="parameters" element="tns:getPriceInHourById"></part>
</message>
<message name="getPriceInHourByIdResponse">
<part name="parameters" element="tns:getPriceInHourByIdResponse"></part>
</message>
<message name="getYearInADayById">
<part name="parameters" element="tns:getYearInADayById"></part>
</message>
<message name="getYearInADayByIdResponse">
<part name="parameters" element="tns:getYearInADayByIdResponse"></part>
</message>
<message name="getPriceInADayById">
<part name="parameters" element="tns:getPriceInADayById"></part>
</message>
<message name="getPriceInADayByIdResponse">
<part name="parameters" element="tns:getPriceInADayByIdResponse"></part>
</message>
<portType name="MyService">
<operation name="getIntentoryList">
<input wsam:Action="http://service.nure.ua/MyService/getIntentoryListRequest" message="tns:getIntentoryList"></input>
<output wsam:Action="http://service.nure.ua/MyService/getIntentoryListResponse" message="tns:getIntentoryListResponse"></output>
</operation>
<operation name="parseXML">
<input wsam:Action="http://service.nure.ua/MyService/parseXMLRequest" message="tns:parseXML"></input>
<output wsam:Action="http://service.nure.ua/MyService/parseXMLResponse" message="tns:parseXMLResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.nure.ua/MyService/parseXML/Fault/Exception"></fault>
</operation>
<operation name="getInventoryById">
<input wsam:Action="http://service.nure.ua/MyService/getInventoryByIdRequest" message="tns:getInventoryById"></input>
<output wsam:Action="http://service.nure.ua/MyService/getInventoryByIdResponse" message="tns:getInventoryByIdResponse"></output>
</operation>
<operation name="doubleEcho">
<input wsam:Action="http://service.nure.ua/MyService/doubleEchoRequest" message="tns:doubleEcho"></input>
<output wsam:Action="http://service.nure.ua/MyService/doubleEchoResponse" message="tns:doubleEchoResponse"></output>
</operation>
<operation name="getPriceInHourById">
<input wsam:Action="http://service.nure.ua/MyService/getPriceInHourByIdRequest" message="tns:getPriceInHourById"></input>
<output wsam:Action="http://service.nure.ua/MyService/getPriceInHourByIdResponse" message="tns:getPriceInHourByIdResponse"></output>
</operation>
<operation name="getYearInADayById">
<input wsam:Action="http://service.nure.ua/MyService/getYearInADayByIdRequest" message="tns:getYearInADayById"></input>
<output wsam:Action="http://service.nure.ua/MyService/getYearInADayByIdResponse" message="tns:getYearInADayByIdResponse"></output>
</operation>
<operation name="getPriceInADayById">
<input wsam:Action="http://service.nure.ua/MyService/getPriceInADayByIdRequest" message="tns:getPriceInADayById"></input>
<output wsam:Action="http://service.nure.ua/MyService/getPriceInADayByIdResponse" message="tns:getPriceInADayByIdResponse"></output>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:MyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getIntentoryList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="parseXML">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getInventoryById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="doubleEcho">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPriceInHourById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getYearInADayById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPriceInADayById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MyServiceService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://localhost:8080/myserv"></soap:address>
</port>
</service>
</definitions>